/* FlashScreen.css */
.flash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: white; /* Set the background color as needed */
    opacity: 0;
    animation: fadeIn 2s forwards; /* Use a fadeIn animation for 2 seconds */
  
    /* Additional styling */
    color: #333;
    font-size: 24px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  